<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Replace with your Dataverse connection string -->
    <add key="DataverseConnectionString" value="Enter your Dataverse connection string here (AuthType, URL, ClientId, and ClientSecret)" />

     <!-- Specify the AI model to be used for chat generation (e.g., llama3) -->
    <add key="AIGenerationModel" value="Enter the name of the AI model here (e.g., llama3)" />
    
    <!-- Specify the AI model to be used for embedding generation (e.g., nomic-embed-text) -->
    <add key="AIEmbeddingModel" value="Enter the name of the AI model here (e.g., nomic-embed-text)" />

    <!-- Replace with the host IP where Ollama is running -->
    <add key="OllamaHost" value="Enter Ollama host IP address here" />

    <!-- Replace with the port where Ollama is running -->
    <add key="OllamaPort" value="Enter Ollama port number here" />

    <!-- Specify the maximum number of records to process -->
    <add key="MaxRecords" value="10" />

    <!-- Enable or disable multi-threading for embedding generation -->
    <!-- If set to 'true', embeddings will be created in parallel for faster processing. Use 'false' for sequential execution. -->
    <add key="MultiThreadEmbedding" value="true" />

    <!-- Options: "Cosine" or "L2" -->
    <!-- Determines the similarity method used for finding the most relevant content. 
         - 'Cosine': Compares embedding vectors (Semantic match).
         - 'L2': Uses Euclidean distance for similarity matching (Vector distance). -->
    <add key="SimilarityMethod" value="L2" />

    <!-- Set the vector database to be used -->
    <add key="VectorDB" value="Milvus" />

    <!-- Specify the dimensions of the vectors generated by the embedding model -->
    <add key="VectorDimensions" value="768" />

    <!-- Milvus connection details -->
    <add key="MilvusHost" value="Enter Milvus host IP address here" />
    <add key="MilvusPort" value="Enter Milvus port number here" />
  </appSettings>
</configuration>
